Host l1gate
    HostName     {{ l1g.hostname }}
    User         {{ l1g.user }}
    Port         {{ l1g.port }}
    IdentityFile {{ l1g.identity_file }}
    AddKeysToAgent yes
    PasswordAuthentication no

Host clgate
  HostName     {{ cld.hostname }}
  User         {{ cld.user }}
  Port         {{ cld.port }}
  IdentityFile {{ cld.identity_file }}
  AddKeysToAgent yes
  PasswordAuthentication no
  ProxyCommand ssh l1gate {{ l1g.proxy_command_path }} %h %p

Host {{ gtlab_host }}
  HostName     {{ gtlab_host }}
  User         git
  port         22
  IdentityFile ~/.ssh/gitlab
  AddKeysToAgent yes
  ProxyCommand ssh clgate {{ cld.proxy_command_path }} %h %p

Host github
  User git
  Port 22
  HostName github.com
  IdentityFile ~/.ssh/github
  AddKeysToAgent yes
  ProxyCommand ssh clgate {{ cld.proxy_command_path }} %h %p
